/*.Container
{
  width:100%;
  
  
  font-size:15px;
  padding-left: 3%;
  padding-right: 3%;
  
}

.row
{
    width:100%;
    padding-left: 3%;
    padding-right: 3%;
   
}

.row1 {
    width: 100%;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    border: none;
    
   
    
  }

.row2
{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap; 
}

  .col-md-3
  {
    flex:30%;
    padding-left: 5%;
    padding-right:5% ;
  }

  .card  It is the division name for the box where the news image and description is showing 
{
  
  height: 590px;
}


.btn
{
  width:140px;
  height:40px;
  margin-top: 50px;
}

.btn a
{
  margin-top: 10px;
}










@media (max-width: 800px) {
    .flex-md-3 {
      flex: 100%;
    }
}

*/